<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>WTFDIW</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="want-list outer-content">
  <ion-list>
    <ion-list-header>
      Latest Wants
    </ion-list-header>

    <ion-item-sliding *ngFor="let want of wants | async" #slidingItem>
      <a ion-item (tap)="wantTapped(want)">
        <ion-badge item-left [ngClass]="{'badge-light': !(want.samples?.length)}">
          {{want.samples?.length || 0}}
        </ion-badge>
        {{want.displaytext}}
        <p *ngIf="!shouldShowSampling(want)">
          Last sampled <span dark>20 minutes</span> ago.
        </p>
        <p *ngIf="shouldShowSampling(want)">
          <span danger>Now sampling. Slide left to rate.</span>
        </p>
      </a>

      <ion-item-options side="left">
        <button primary small (tap)="wantTapped(want)">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-item-options>

      <ion-item-options side="right" *ngIf="shouldShowSampling(want)">
        <button secondary small (tap)="sampleTapped(want, 1)">
          <ion-icon name="thumbs-up"></ion-icon>
        </button>
        <button dark small (tap)="sampleDismissTapped(want)">
          <ion-icon name="notifications-off"></ion-icon>
        </button>
        <button danger small (tap)="sampleTapped(want, 0)">
          <ion-icon name="thumbs-down"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <button fab fab-bottom fab-right class="fab-footer" (tap)="presentCreateWantModal()">
    <ion-icon name="add" is-active="false"></ion-icon>
  </button>
</ion-content>
