<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <h2>User 0 Wants:</h2>
  <ul *ngFor="let item of items | async">
    <li class="text">
      {{item.id}}<br />
      {{item.displaytext}}
      <ul *ngFor="let sample of item.samples">
        <li>
          {{sample.id}}<br />
          {{sample.vote}}<br />
          {{sample.latitude}},{{sample.longitude}}<br />
          {{sample.ts}}
        </li>
      </ul>
    </li>
  </ul>

  <button secondary menuToggle>Toggle Menu</button>
</ion-content>
