<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Want List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="want-detail outer-content">
  <div padding-horizontal>
    <h1>
      {{(want | async)?.displaytext}}
    </h1>
  
    <button clear small>
      Next sample in 30 minutes.
      <ion-icon name="refresh"></ion-icon>
    </button>
  </div>

  <ion-list *ngIf="(want | async)?.samples">
    <ion-list-header>
      Latest Samples
    </ion-list-header>

    <ion-item *ngFor="let sample of (want | async)?.samples" [ngSwitch]="sample.vote">
      <ion-icon *ngSwitchCase="1" name="thumbs-up" secondary item-left></ion-icon>
      <ion-icon *ngSwitchCase="0" name="thumbs-down" danger item-left></ion-icon>
      <h2>
        {{sample.ts | date:'short'}}
      </h2>
      <p>
        {{sample.latitude}}, {{sample.longitude}}
      </p>
      <ion-note item-right>10s</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
